<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Majistar_ProductLabels::labels" title="Product Labels" translate="title" module="Majistar_ProductLabels"
             sortOrder="30" parent="Magento_Catalog::inventory" action="majistar_productlabels/label/index"
             resource="Majistar_ProductLabels::labels"/>
    </menu>
</config>
